* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #111;
}

html,
body {
  width: 100%;
  height: 100%;
}

input,button{
  padding: 10px 20px;
  color: white;
  margin: 30px;
  font-size: 18px;
  border: 1px solid #777;
  background-color: #333;
  border-radius: 10px;
}


