.btn {
  background-color: #b1b1b1;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  font-size: 14px;
}

.pbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}