

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn button {
  background-color: crimson;
  color: whitesmoke;
  padding: 4px 8px;
  border: none;
  font-size: 18px;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
}